@model CategoryModel

@{
	ViewData["Title"] = "Редактирование категории";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


@if (Model is not null)
{
    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            @* @Html.EditorForModel() *@
            <div class="form-group">
                @Html.LabelFor(model => model.ParentId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ParentId)
                    @Html.ValidationMessageFor(model => model.ParentId)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Изменить" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    }
}
else
{
    <div style="color: red">Категория не найдена</div>
}